<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Refresh" content="30;URL=/index/">
        <link rel="stylesheet" type="text/css" href="/site/mainstyle.css">
        <title>VM Center on 192.168.0.1</title>
    </head>
    <body>
        <h1> VM Center on 192.168.0.1 </h1>
        <hr />
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="centerconfig">
                            <h1>Center Config</h1>
                            <table>
                                <tbody>
                                    <tr> <td id="col1"> Center IP: </td><td id="col3"> {{ centerinfo.nodeip }} </td></tr>
                                    <tr> <td id="col1"> Cluster Name: </td><td id="col3"> {{ centerinfo.nodename }} </td></tr>
                                    <tr> <td id="col1"> Started: </td><td id="col3"> {{ centerinfo.nodestarttime }} </td></tr>
                                    <tr> <td id="col1"> Node Running / Configured: </td><td id="col3"> 15 / 20 </td></tr>
                                    <tr> <td id="col1"> Data DIR: </td><td id="col3"> {{ centerinfo.datadir }} </td></tr>
                                    <tr> <td id="col1"> Center Log: </td><td id="col3"> {{ centerinfo.logfilename }} </td></tr>
                                    <tr> <td id="col1"> Console Parameters: </td><td id="col3"> {{ centerinfo.argv }} </td></tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td>
                        <div id="nodelist">
                            <h1>Node list</h1>
                            <table>
                                <tbody>
                                    <tr> <td id="col1"> Name </td>
                                        <td id="col1"> IP </td>
                                        <td id="col1"> Status </td>
                                        <td id="col1"> VMs </td>
                                        <td id="col1"> Memory (MB) </td>
                                        <td id="col1"> CPU </td>
                                        <td id="col1"> MAC Address </td></tr>
                                
                                        {% for node in nodelist|dictsort:"name" %}
                                        <tr>
                                            <td> {{ node.name }} </td>
                                            <td> {{ node.ip }} </td>
                                            <td> {{ node.status }} </td>
                                            <td> {{ node.vms }} </td>
                                            <td> {{ node.mem }} </td>
                                            <td> {{ node.vcpu }} </td>
                                            <td> {{ node.mac }} </td>
                                        </tr>
                                        {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <div id="clusterview">
            <h1> Cluster View </h1>
            <table>
                <tbody>
                    <tr><td id="col1"> Node </td>
                    <td id="col1"> VM </td></tr>

                    {% for node in nodelist|dictsort:"name" %}
                    <tr><td> {{ node.name }} </td>
                        {% for vm in node.vmlist|dictsort:"name" %}
                        <td> {{ vm.name }} </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="nodeperflist">
            <h1>Node Performance Statistics</h1>
            <table>
                <tbody>
                    <tr> <td id="col1"> Name </td>
                        <td id="col1"> CPU% (10s avg) </td>
                        <td id="col1"> IOWait% (10s avg) </td>
                        <td id="col1"> Memory% (10s avg) </td>
                        <td id="col1"> Pagefault Rate (10s avg) </td>
                        <td id="col1"> Disk Rd / Wr (KB) </td>
                        <td id="col1"> Net Send / Recv (KB) </td></tr>

                    {% for nodeperf in nodeperflist|dictsort:"name" %}
                    <tr>
                        <td> {{ nodeperf.name }} </td>
                        <td> {{ nodeperf.cpu|floatformat:1 }} ( {{ nodeperf.cpu_avg|floatformat:1 }} ) </td>
                        <td> {{ nodeperf.iowait|floatformat:1 }} ( {{nodeperf.iowait_avg|floatformat:1 }} ) </td>
                        <td> {{ nodeperf.mem|floatformat:1 }} ( {{ nodeperf.mem_avg|floatformat:1 }} ) </td>
                        <td> {{ nodeperf.pf }} ( {{ nodeperf.pf_avg }} ) </td>
                        <td> {{ nodeperf.diskrd }} / {{ nodeperf.diskwr }} </td>
                        <td> {{ nodeperf.netsend }} / {{ nodeperf.netrecv }} </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />
        <div id="centerlog">
            <h1> Daemon Log </h1>
            
            <textarea name="d_log" rows="20" cols="150" readonly="readonly">
                {% for line in centerlog %}
{{ line }}
                {% endfor %}
            </textarea>
        </div>
    </body>
</html>
