<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/site/mainstyle.css">
        <title>VM Daemon on 192.168.0.1</title>
    </head>
    <body>
        <h1> VM Daemon on 192.168.0.1 </h1>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="daemonconfig">
                            <h1>Daemon Config</h1>
                            <table>
                                <tbody>
                                    <tr> <td id="col1"> Node IP: </td><td id="col3"> {{ daemoninfo.nodeip }} </td></tr>
                                    <tr> <td id="col1"> Node Name: </td><td id="col3"> {{ daemoninfo.nodename }} </td></tr>
                                    <tr> <td id="col1"> Started: </td><td id="col3"> {{ daemoninfo.nodestarttime }} </td></tr>
                                    <tr> <td id="col1"> VM Running / Configured: </td><td id="col3"> 15 / 20 </td></tr>
                                    <tr> <td id="col1"> Data DIR: </td><td id="col3"> {{ daemoninfo.datadir }} </td></tr>
                                    <tr> <td id="col1"> Daemon Log: </td><td id="col3"> {{ daemoninfo.logfilename }} </td></tr>
                                    <tr> <td id="col1"> Console Parameters: </td><td id="col3"> {{ daemoninfo.argv }} </td></tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td>
                        <div id="vmlist">
                            <h1>VM list</h1>
                            <table>
                                <tbody>
                                    <tr> <td id="col1"> Name </td>
                                        <td id="col1"> IP </td>
                                        <td id="col1"> Status </td>
                                        <td id="col1"> Memory (MB) </td>
                                        <td id="col1"> VCPU </td>
                                        <td id="col1"> UUID </td>
                                        <td id="col1"> MAC Address </td></tr>
                                
                                        {% for vm in vmlist %}
                                        <tr>
                                            <td> {{ vm.name }} </td>
                                            <td> {{ vm.ip }} </td>
                                            <td> {{ vm.status }} </td>
                                            <td> {{ vm.mem }} </td>
                                            <td> {{ vm.vcpu }} </td>
                                            <td> {{ vm.uuid }} </td>
                                            <td> {{ vm.mac }} </td>
                                        </tr>
                                        {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div id="vmperflist">
            <h1>VM Performance Statistics</h1>
            <table>
                <tbody>
                    <tr> <td id="col1"> Name </td>
                        <td id="col1"> CPU% (10s avg) </td>
                        <td id="col1"> IOWait% (10s avg) </td>
                        <td id="col1"> Memory% (10s avg) </td>
                        <td id="col1"> Pagefault Rate (10s avg) </td>
                        <td id="col1"> Disk Rd / Wr (KB) </td>
                        <td id="col1"> Net Send / Recv (KB) </td></tr>

                    {% for vmperf in vmperflist %}
                    <tr>
                        <td> {{ vmperf.name }} </td>
                        <td> {{ vmperf.cpu }} ( {{ vmperf.cpu_avg }} ) </td>
                        <td> {{ vmperf.iowait }} ( {{vmperf.iowait_avg}} ) </td>
                        <td> {{ vmperf.mem }} ( {{ vmperf.mem_avg }} ) </td>
                        <td> {{ vmperf.pf }} ( {{ vmperf.pf_avg }} ) </td>
                        <td> {{ vmperf.diskrd }} / {{ vmperf.diskwr }} </td>
                        <td> {{ vmperf.netsend }} / {{ vmperf.netrecv }} </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <div id="threadlist">
            <h1>Thread List</h1>
            <table>
                <tbody>
                    <tr> <td id="col1"> ID </td>
                        <td id="col1"> Name </td>
                        <td id="col1"> Type </td></tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
